/* regole generali */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


img {
  max-width: 100%;
  height: auto;
}



/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  /* padding: 2px; */
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  /border-color: #fff;
}


.container{
padding:0;
font-size: 20px;
}

.white_font{
  color: white;
}

.dark_font{
  color: #031b4e;
}

.blue_font{
  color: #006aff;
}

.ms_centered{
  text-align: center;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 1.5em;
  font-weight: bold;
}

h3{
  font-size: 1em;

}

}



/* <!-- ------- SEZIONE MENU----------- --> */

/* ----MODIFICA COMPONENTI NAVBAR BOOTSTRAP */

header .navbar-default{
  border-width: 0;
}

 header .navbar{
  background-color: white;
  margin-bottom: 0;
  border: 0px;

 }
header .navbar-default .navbar-nav>li>a{
  color: #031b4e;
}

header .navbar-default .navbar-nav>.active>a{
  color: #006aff;
}

.navbar-header {
  max-width:15%;
}


.logo_home{
  /* max-width: 15%;
  height: auto; */
}





/* <!-- ------- SEZIONE JUMBO---------- --> */

#JUMBO{
  /* padding: 2% 0; */
  background-image:url("../img/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sign_up{
  width: 100%;
  min-height: 350px;
  /* margin: auto; */
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

/* <!-- ------- SEZIONE CUSTOMERS---------- --> */

.loghi{
  text-align: center;
  padding:5px;
  margin:5% auto;
  /* max-width: 100%;
  min-height: 100px;
  margin:10% auto; */
}



#CUSTOMERS {
background-color: #f3f5f9;

}


/* <!-- ------- SEZIONE 1---------- --> */

#linea_verticale{
  width: 90%;
  height: auto;
  background-color: lightgreen;
  border-color: #lightgrey;
  border-width: .5px;
  border-left: solid;
}



























/* <!-- ------- FOOTER----------- --> */
